<div class="pagination mb-5">
    <span class="page-item" id="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" class="text-primary">Previous</a>
        {% endif %}
        <span id="current" class="text-primary">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
         <a href="?page={{ page.next_page_number }}" class="text-primary">Next</a>
        {% endif %}
    </span>
</div>